* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: darkblue;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background: #fff;
  padding: 2.5rem 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
}

form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: darkblue;
}

form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

form button {
  width: 100%;
  padding: 0.75rem;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

p {
  margin-top: 1.5rem;
  text-align: center;
  color: black;
  font-size: 0.95rem;
}

p a {
  color: darkblue;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
  transition: color 0.3s;
}
